.background    { background: black;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: #FF3300; }
.wall          { background: #999999; }

.actor  { position: absolute;  }
.player { background: white;
		  border-radius: 40%;
		  width:20px;
		  height:20px;
}

.coin { background: #FFC300;
		border-radius: 50%;
		width: scale;
		height: scale;
 }
		

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;

}
